html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

body{padding-top:30px;}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}

.sendMessage {
    display: inline-block;
    border-radius: 5px;
    background-color: floralwhite;
    padding: 5px;
    text-align: justify;
    max-width: 80%;
    word-wrap: break-word;
 }

.getMessage {
    display: inline-block;
    border-radius: 5px;
    background-color: floralwhite;
    padding: 10px;
    text-align: justify;
    max-width: 80%;
    word-wrap: break-word;
}

#messages {
    padding: 0 5% 0 5%;
    min-height: 217px;
    max-height: 500px;
    overflow-y: scroll;
   }

.divMessage {
    border: 2px solid #a1a1a1;
    display: none;
    width: 100%;
    min-height: 300px;
    font-size: 25px;
}
.show {
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
}

#x {
    width: 35px;
    height: 37px;
    background: #EEE;
}

#x:hover{
    background: red;
    color:#EEE;
}



#text {
    border: none;
    width: 100%;
    margin-top: 1%;
    resize: none;
}

#open-message:hover{
    background-color: #3f3731;
    color:#EEE;
}

.jsP {
    display: inline-block;
    background-color: #cbc7bd;
    border-radius: 25px;
    font-size: 12px;
    margin-left: 48%;
}

l {
    font-size: 35px;
}

.messigeDiv {
    width: 100%;
    height: 50px;
}
.left {

    text-align: left;
}

.right {
    text-align: right;
}


div.contextmenu {
    background: yellow;
    color: black;
}

.del {
    float: right;
    border-radius: 50%;
    font-size: 5px;
    width: 10px;
    height: 15px;
    background: #EEE;
}

.del:hover {
    background: red;
    color:#EEE;
}

.count {
    float: right;
    align-items: center;
    display: flex;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: orange;
    justify-content: center;
}

.fileInput {
    width: 50px;
    align-items: center;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    margin-top: 1%;
    border: none;
    background-color: inherit;
    color: #0b58a2;
}

#text:focus {
    outline: none !important;
}
.fileInput:hover{
    border: inherit;
    background-color: #0000aa;
    color:#EEE;
}

.input-message {
    border-bottom-color: #0000aa;
    border-bottom-style: solid;
    border-radius: 5%;

}